/* header {
    background: linear-gradient(to right, #005ff8, #3e2c6e);
}

body {
    font-family: "Arial", sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: white;
} */

header {
    background: linear-gradient(to bottom, #6892d5, #645295);
}

form {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background: linear-gradient(135deg, #6892d5, #645295);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #ffffff;
    transform: scale(1.05);
}

@media (max-width: 600px) {
    form {
        padding: 10px;
    }

    input, select, button {
        padding: 8px;
    }
}

h1 {
    text-align: center;
    margin-top: 20px;
}

/* footer {
    background: #ffffff;
} */
